body{
  background-color: rgb(23 37 84);
}
/* Vanilla css to make into tailwindcss

.card--details p{
  opacity: 0;
}
.card--details:hover p{
  filter: brightness(1);
  color: white;
  opacity: 1;
}

.card--details:hover img{
  filter: brightness(.25);
  transform: scale(1.1);
} */